.buttonGeneral{
    -fx-background-color: #f2f0ec;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-border-color: #333333;
    -fx-border-width: 2;
    
}
.buttonGeneral:pressed{
    -fx-border-width: 2;
}

.buttonGeneral:hover{
    -fx-background-color: #d6cfc2;
}

.background{
    -fx-background-color:  #f2f0ec;
    -fx-border-color: #25313E;
    -fx-border-width: 2;
}

.mainText{
    -fx-text-fill: #333333;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.button1{
    -fx-background-color:  #f58426;
    -fx-font-family:  Arial;
    -fx-text-fill: #333333;
    -fx-font-size: 27;
    -fx-border-width: 0;
    -fx-border-color: #25313E;
}
.button1:pressed{
    -fx-border-width: 2;
}
.button1:hover{
    -fx-background-color:  #fcd5b6;
}

.button2{
    -fx-background-color:  #70cde3;
    -fx-font-family: Arial;
    -fx-text-fill: #333333;
    -fx-font-size: 27;
    -fx-border-width: 0;
    -fx-border-color: #25313E;
}
.button2:pressed{
    -fx-border-width: 2;
}
.button2:hover{
    -fx-background-color:  #bfe9f2;
}

.button3{
    -fx-background-color:  #cfd4d8;
    -fx-font-family: Arial;
    -fx-text-fill: #333333;
    -fx-font-size: 27;
    -fx-border-width: 0;
    -fx-border-color: #25313E;
}
.button3:pressed{
    -fx-border-width: 2;
}
.button3:hover{
    -fx-background-color:  #d5d9dd;
}

.combobox .cell{
    -fx-text-fill: #333333;
    -fx-background-color:  #f2f0ec;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
}

.combobox .cell:hover{
    -fx-background-color:  #d6cfc2;
}